---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";

const tecnologies = [
  {
    title: "Html",
    icon: "tecnologies/html",
    url: "https://lenguajehtml.com/",
  },
  {
    title: "Css",
    icon: "tecnologies/css-icon",
    url: "https://developer.mozilla.org/es/docs/Web/CSS",
  },
  {
    title: "Sass",
    icon: "tecnologies/sass",
    url: "https://sass-lang.com/",
  },
  {
    title: "Tailwindcss",
    icon: "tecnologies/tailwind",
    url: "https://tailwindcss.com/",
  },
  {
    title: "Javascript",
    icon: "tecnologies/javascript",
    url: "https://developer.mozilla.org/es/docs/Web/JavaScript",
  },
  {
    title: "Vue.js",
    icon: "tecnologies/vue",
    url: "https://vuejs.org/",
  },
  {
    title: "Pinia",
    icon: "tecnologies/pinia",
    url: "https://pinia.vuejs.org/",
  },
  {
    title: "Firebase",
    icon: "tecnologies/firebase",
    url: "https://firebase.com",
  },
  {
    title: "Astro",
    icon: "tecnologies/astro-icon",
    url: "https://astro.com",
  },
  {
    title: "Git",
    icon: "tecnologies/git",
    url: "https://git.com",
  },
  {
    title: "GitHub",
    icon: "tecnologies/github",
    url: "https://github.com",
  }
];
---

<ContentSection title="Tecnologías" id="compatibility">
  <Fragment slot="lead">
    He <span class="text-primary">creado</span>proyectos haciendo uso de las siguientes
    <span class="text-primary">tecnologías y herramientas</span>
  </Fragment>
  <CompatibilityList
    items={tecnologies}
    title="Stack"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
</ContentSection>
