---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Contactar" id="connect">
  <img src="/pulydev-logo.png" alt="logo" class="w-20 h-20 rounded-full">
  <Fragment slot="lead">
    Revisá mis perfiles y contactáte conmigo.
    <span class="text-primary">Estaré disponible para responderte.</span>
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://www.linkedin.com/in/jose-ignacio-robledo-puly-008661239/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="linkedin" class="h-8" />
      <span>Linkedin</span>
    </a>
    <a
      href="https://wa.me/3815429673?text=👋Hola. Vengo desde tu Portfolio🌐"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="whatsapp" class="h-8" />
      <span>Whatsapp</span>
    </a>
  </div>
</ContentSection>
