---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Proyectos" id="showcase">
  <Fragment slot="lead">
    Algunos <span class="text-primary">proyectos</span> que creé y en los que participé.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      
    </div>
  </div>
</ContentSection>
