---
import ContentSection from "~/components/content-section.astro";
import ProjectCard from "~/components/project-card.astro";
---

<ContentSection title="Proyectos" id="projects">
  <Fragment slot="lead">
    Algunos <span class="text-primary">proyectos</span> que creé y en los que participé.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-10 md:gap-14">
      <ProjectCard href="https://sushimenu-dfb1c.web.app/" src="/aspid.PNG" title="Sushi app" description="Sushi SPA con información de tienda y menú modificable por usuarios registrados como administrador (autenticación con firebase). Permite agregar al menu, editar información de los items y eliminarlos. Notificaciones y alertas de confirmación en acciones." technologies="Vue - Tailwindcss - Firebase - Vuefire - Pinia - Routing"/>
      
      <ProjectCard href="https://movies-guide-vue.vercel.app/" src="/movies-guide.PNG" title="Guía películas API" description="Guía de películas TMDB API. Buscador, vista de información y favoritos persistente, responsive, con pequeñas notificaciones, animaciones y feedback de carga con loader." technologies="Vue - Pinia - Axios - Tailwindcss - Routing"/>

      <ProjectCard href="https://shopvue-b002b.web.app/" src="/shop-vue-cap.PNG" title="Shopfire" description="Shop virtual, filtros y Panel de administración (ver ventas realizadas, agregar, editar y eliminar productos utilizando firebase como base de datos). + Carrito y total a pagar simulando cupones." technologies="Vue - Pinia - Tailwindcss - Firebase - Routing"/>

      <ProjectCard href="https://cotizador-crypto-vue-puly.netlify.app" src="/criptos-vue.PNG" title="Cotizador criptomonedas" description="Pequeña app cotizador de criptomonedas mediante API de cryptocompare" technologies="Vue - Css"/>

      <ProjectCard href="https://control-gastos-vue-puly.netlify.app" src="/gastos-2.PNG" title="Control gastos" description="Seguimiento de gastos, filtrar por categoría, eliminar, editar y añadir nuevos gastos. Calculo de total gastado y restante. Persistencia con LocalStorage." technologies="Vue - Css - SFC"/>

    </div>
  </div>
</ContentSection>
