---
import ContentSection from "~/components/content-section.astro";
import ProjectCard from "~/components/project-card.astro";
---

<ContentSection title="Proyectos" id="projects">
  <Fragment slot="lead">
    Algunos <span class="text-primary">proyectos</span> que creé y en los que participé.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-10 md:gap-14">
      <ProjectCard href="https://shopvue-b002b.web.app/" src="/shop-vue-cap.PNG" title="Shopfire" description="Shop virtual, filtros y Panel de administración (ver ventas realizadas, agregar, editar y eliminar productos utilizando firebase como base de datos). + Carrito y total a pagar simulando cupones." technologies="Vue - Pinia - Tailwindcss - Firebase - Routing"/>

      <ProjectCard href="https://control-gastos-vue-puly.netlify.app" src="/gastos-2.PNG" title="Control gastos" description="Seguimiento de gastos, filtrar por categoría, eliminar, editar y añadir nuevos gastos. Calculo de total gastado y restante. Persistencia con LocalStorage." technologies="Vue - Css - SFC"/>

      <ProjectCard href="https://providers-38eb9.web.app/" src="/providers-cap.PNG" title="Proveedores crud" description="Tabla control de proovedores. Autenticación con Firebase. Panel de administración (solo habilitado para usuarios autenticados como admin.) Agregar, modificar informaciíon y eliminar utilizando firebase. Feedback y pequeñas notificaciones" technologies="Vue - Pinia - Firebase - Routing - Tailwindcss"/>
      
      <ProjectCard href="https://tragos-routing-pinia-puly.netlify.app" src="/buscador-recetas-vue.PNG" title="Buscador de recetas API" description="Consumo de Api que trae recetas de gran cantidad de tragos, filtrar por busqueda y agregar a favoritos." technologies="Vue - Pinia - Tailwindcss - Routing"/>
      
      <ProjectCard href="https://sushimenu-dfb1c.web.app/" src="/aspid.PNG" title="Sitio Estático" description="Sushi SPA con información de tienda y menú modificable por usuarios registrados como administrador (autenticación con firebase). Permite agregar al menu, editar información de los items y eliminarlos. Notificaciones y alertas de confirmación en acciones." technologies="Vue - Tailwindcss - Firebase - Vuefire - Pinia - Routing"/>
    </div>
  </div>
</ContentSection>
