---
import Starfield from "~/components/starfield.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---

<section class="relative h-full bg-black" id="start">
  <Starfield />
  <div class="relative grid h-full">
    <h2
      class="flex flex-col gap-2 justify-center text-center text-8xl text-white font-extrabold"
    >
      Puly G.
      <div
        class="gradient-text text-center font-extrabold tracking-tighter text-8xl"
      >
        Frontend Web
        <br /> Developer.
      </div>
    </h2>
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #puly {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #puly {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
</style>
